<div class="signup-box">
    <div class="align-center m-b-30">
        <img src="../../../../assets/images/csob-logo-white.png" height="80px">
    </div>
    <div class="logo">
        <a [routerLink]="['/']">PM Pool Dashboard</a>
        <small>Registrační formulář</small>
    </div>
    <div class="card">
        <div class="body">
            <form #signUpForm="ngForm" id="sign_up" (ngSubmit)="onSubmit(signUpForm) ">
                <div class="msg">Zaregistrujte se, prosím</div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" #namesurname="ngModel" class="form-control" name="namesurname" id="namesurname" ngModel placeholder="Jméno a příjmení" autofocus required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">email</i>
                    </span>
                    <div class="form-line">
                        <input type="email" class="form-control" name="email" ngModel #email="ngModel" placeholder="Emailová adresa" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="password" #password="ngModel" ngModel minlength="6" placeholder="Heslo" required>
                    </div>
                </div>
<!--                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="confirm" minlength="6" placeholder="Opakujte heslo" required>
                    </div>
                </div>
 -->
                <button class="btn btn-block btn-lg bg-pink waves-effect">ZAREGISTROVAT</button>

                <div class="m-t-25 m-b--5 align-center">
                    <a [routerLink]="['/auth']">Už jste se registrovali?</a>
                </div>
            </form>
        </div>
    </div>
</div>
