<div class="fp-box">
    <div class="align-center m-b-30">
        <img src="../../../../assets/images/csob-logo-white.png" height="80px">
    </div>
    <div class="logo">
        <a [routerLink]="['/']">PM Pool Dashboard</a>
        <small>Obnova zapomenutého hesla</small>
    </div>
    <div class="card">
        <div class="body">
            <form id="forgot_password" method="POST">
                <div class="msg">
                    Zadejte emailovou adresu, kterou jste použili při registraci. Přijde vám email s odkazem pro znovu nastavení hesla.
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">email</i>
                    </span>
                    <div class="form-line">
                        <input type="email" class="form-control" name="email" placeholder="Emailová adresa" required autofocus>
                    </div>
                </div>

                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">RESETOVAT HESLO</button>

                <div class="row m-t-20 m-b--5 align-center">
                    <a [routerLink]="['/auth']">PŘIHLÁSIT!</a>
                </div>
            </form>
        </div>
    </div>
</div>