<div class="block-header">
  <h2>O ÚTVARU PM POOL III</h2>
</div>
<div class="row clearfix">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="header bg-light-blue">
        <h2>POOL PROJEKTOVÝCH MANAŽERŮ III</h2>
      </div>
    
      <div class="body">
        <p class="mb-0 lead">
          <span><img src="./../../../../assets/images/pm_pool3.jpg" height="150px"></span>
          Business is like a car. It will not run by itself except downhill
        </p>
        <p>
          Jeden ze tří týmů projektových manažerů v rámci PM poolu ČSOB. Pokrýváme všechny oblasti projektového řízení i obsahové oblasti jednotlivých domén jako Payments, Credits, Consumer Finance, Digital, Karty, SME/CORP apod. Rozumíme ICT, pomůžeme s procesy a <span class="font-bold col-light-blue">provedeme Vás projektem od "a až do z"</span>.
          <strong>Kontakt:</strong> Martin Nassler, 724 635 893, <a href="mailto:marnassler@csob.cz">marnassler@csob.cz</a>
        </p>
        <p class="lead">
          Náš cíl:
        </p>
        <p>
          Naším cílem je poskytovat <span class="font-bold col-light-blue">dlouhodobě kvalitní služby</span> v rámci celé skupiny ČSOB, mít <span class="font-bold col-light-blue">spokojené zákazníky</span> (externí i interní) a být v ČSOB i mimo ní <span class="font-bold col-light-blue">referencí projektového řízení</span>. Mezi naše hodnoty patří <span class="font-bold col-light-blue">důvěra, spolupráce, rozvoj, kvalita a ownership</span>.
        </p>
        <p class="lead">
          Organizace týmu:
        </p>
        <p>
          V rámci organizace týmu využíváme tzv. <span class="font-bold col-light-blue">T-shape model</span>, kdy se několik kolegů specializuje do hloubky na oblast jednotlivých domén, zatímco ostatní poskytují více universální služby v rámci projektů skrze celou banku. Zároveň máme v týmu další specialisty, kteří se mimo obsah věnují i ostatním oblastem projektového řízení jako např. nástrojová podpora, řízení kvality, projektové metodice apod. Díky tomu dokážeme pokrýt a kvalitně odřídit kompletní portfolio projektů ČSOB.            
        </p>
        <p>
          <img src="./../../../../assets/images/org_chart.png" class="img-responsive center-block">
        </p>
        <h5>Doménoví PMs:</h5>
          Projektoví manažeři s úzkou specializací na konkrétní obsahovou oblast. Fungují jako SPOC pro ostatní v případě, že potřebují poradit, provést kontrolu vstupů od jiných rolí v projektu (např. BAR/BAN), zajišťují healthchecky projektových karet před spuštěním příp. schválením projektů apod.
          <ul>  
            <li>Credits - Petr Košťák</li>
            <li>Payments - Milan Máčal</li>
            <li>Digital - </li>
            <li>Cards - Martin Veselý</li>
            <li>Corporate - Radim Řeháček</li>
            <li>CDS - Petr Rybár</li>
          </ul>

        <h5>Specialisté na ostatní oblasti:</h5>
        Jedná se o projektové manažery specializované na jiné než obsahové znalosti (např. nástroje, metodika, procesy apod.), kteří poskytují podporu a definují best practice postupy i pro ostatní kolegy. Zároveň fungují jako protipól při různých jednáních nebo změnách ostatních procesů v bance, které zasahují i do oblasti projektového řízení.
        <ul>  
          <li>JIRA - Milan Máčal</li>
          <li>Projektové GPS - Michal Krejčí</li>
        </ul>
      </div>
    </div>
  </div>
</div>