<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="assets/images/user.png" width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nepřihlášen</div>
                <div class="email">Anonymní uživatel</div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);"><i class="material-icons">person</i>Přihlásit</a></li>
                        <li role="seperator" class="divider"></li>
                        <li><a href="javascript:void(0);"><i class="material-icons">lock</i>Registrovat</a></li>
                        <li><a href="javascript:void(0);"><i class="material-icons">redo</i>Obnovit heslo?</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">HLAVNÍ MENU</li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/views/home']"><i class="material-icons">home</i> <span>Dashboard</span></a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/views/typography']"><i class="material-icons">rss_feed</i> <span>Novinky</span></a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/views/typography']"><i class="material-icons">pie_chart</i> <span>Reporting</span></a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/views/typography']"><i class="material-icons">thumb_up</i> <span>Hodnocení</span></a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/views/typography']"><i class="material-icons">timer</i> <span>TO DO List</span></a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/views/typography']"><i class="material-icons">chat</i> <span>Týmový chat</span></a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/views/typography']"><i class="material-icons">event</i> <span>Týmové akce</span></a>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; {{appInfo.copyright.year}}
                <a href="{{appInfo.copyright.url}}">{{appInfo.copyright.owner}}</a>
            </div>
            <div class="version">
                <b>Version: </b> {{appInfo.version}}
            </div>
        </div>
        <!-- #Footer -->
    </aside>
</section>
