<div class="block-header">
    <h2>PM POOL 3 DASHBOARD</h2>
</div>
<!-- Widgets -->
<div class="row clearfix">
    <div *ngIf="!user; else loggedUser" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-pink hover-expand-effect">
            <div class="icon">
                <i class="material-icons">group</i>
            </div>
            <div class="content">
                <div class="text">POČET FTEs</div>
                <div class="number">{{this.dbData.field1}}</div>
            </div>
        </div>
    </div>
    <ng-template #loggedUser>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">playlist_add_check</i>
                </div>
                <div class="content">
                    <div class="text">POČET ÚKOLŮ</div>
                    <div class="number">{{this.dbData.field1}}</div>
                </div>
            </div>
        </div>
    </ng-template>

    <div *ngIf="!user; else loggedUser1" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-expand-effect">
            <div class="icon">
                <i class="material-icons">hourglass_empty</i>
            </div>
            <div class="content">
                <div class="text">POČET PROJEKTŮ</div>
                <div class="number">{{this.dbData.field2}}</div>
            </div>
        </div>
    </div>
    <ng-template #loggedUser1>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">format_list_numbered</i>
                </div>
                <div class="content">
                    <div class="text">PRŮMĚR OKRs</div>
                    <div class="number">{{this.dbData.field2}}%</div>
                </div>
            </div>
        </div>
    </ng-template>

    <div *ngIf="!user; else loggedUser2" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-light-green hover-expand-effect">
            <div class="icon">
                <i class="material-icons">playlist_add_check</i>
            </div>
            <div class="content">
                <div  class="text">DOKONČENÝCH PROJEKTŮ</div>
                <div class="number">{{this.dbData.field3}}</div>
            </div>
        </div>
    </div>
    <ng-template #loggedUser2>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-light-green hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">chat</i>
                </div>
                <div class="content">
                    <div  class="text">PŘÍSPĚVKŮ V CHATU</div>
                    <div class="number">{{this.dbData.field3}}</div>
                </div>
            </div>
        </div>
    </ng-template>
    
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-orange hover-expand-effect">
            <div class="icon">
                <i class="material-icons">show_chart</i>
            </div>
            <div class="content">
                <div class="text">PRŮMĚRNÉ HODNOCENÍ</div>
                <div class="number">{{this.dbData.field4}}%</div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Widgets -->

<!-- ZÁKLADNÍ INFORMACE -->
<div class="block-header">
    <p class="display-2">ZÁKLADNÍ INFORMACE</p>
    <p class="display-4">
        Jeden ze tří týmů projektových manažerů v rámci PM poolu ČSOB. Pokrýváme všechny oblasti projektového řízení i obsahové oblasti jednotlivých domén jako Payments, Credits, Consumer Finance, Digital, Karty, SME/CORP apod. Rozumíme ICT, pomůžeme s procesy a provedeme Vás projektem od "a až do z".
        <strong>Kontakt:</strong> Martin Nassler, 724 635 893, <a href="mailto:marnassler@csob.cz">marnassler@csob.cz</a>
    </p>
    <p class="display-2">NÁŠ CÍL</p>
    <p class="display-4">
        Naším cílem je poskytovat dlouhodobě kvalitní služby v rámci celé skupiny ČSOB, mít spokojené zákazníky (externí i interní) a být v ČSOB i mimo ní referencí projektového řízení. Mezi naše hodnoty patří <strong>důvěra, spolupráce, rozvoj, kvalita a ownership</strong>.
    </p>
</div>
<!-- #END# ZÁKLADNÍ INFORMACE -->
<div class="row clearfix">
    <!-- ŽÁDOST O PM -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="header bg-light-blue">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2>POTŘEBUJETE PM?</h2>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="lead">
                    Potřebujete projektového manažera na svoji aktivitu?
                </div>
                <p class="col-pink">
                    <strong>Dejte nám, prosím, vědět pomocí poptávkového formuláře!</strong>
                </p>
                <p>
                    Ideálně dostatečně předem, kapacity bývají blokovány dlouho dopředu. Aktuální stav dostupných kapacit
                    můžete orientačně zjistit na grafu "Alokace projektových manažerů" níže. Jakmile budeme mít potřebné info, ozveme se Vám s možnostmi jak roli PM
                    obsadit.
                </p>
                <p>
                    <span class="font-underline col-grey">Budeme od Vás potřebovat následující informace:</span>
                </p>
                <div>
                    <ul class="col-grey">
                        <li>Kontakt na Vás nebo sponsora projektu</li>
                        <li>Název projektu</li>
                        <li>Trvání projektu (od-do)</li>
                        <li>Předpokládanou alokaci</li>
                        <li>
                            Ideálně:
                            <ul>
                                <li>Projektovou kartu</li>
                                <li>Jméno, pokud preferujete konkrétního PM</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <p>
                    <button type="button" class="btn btn-block bg-deep-orange waves-effect">
                        <i class="material-icons">face</i>
                        <span>ŽÁDOST O PM</span>
                    </button>
                </p>
            </div>
        </div>
    </div>
    <!-- #END# ŽÁDOST O PM -->
    <!-- ÚSPĚŠNOST PROJEKTŮ-->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="header bg-light-blue">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2>ÚSPĚŠNOST DODANÝCH PROJEKTŮ</h2>
                    </div>
                </div>
            </div>
            <div class="body bg-light-blue">
                <div class="chart-wrapper">

                    <canvas baseChart
                        [datasets]="ProjectSuccessRateChartData"
                        [labels]="ProjectSuccessRateChartLabels"
                        [options]="ProjectSuccessRateChartOptions"
                        [colors]="ProjectSuccessRateChartColors"
                        [legend]="ProjectSuccessRateChartLegend"
                        [chartType]="ProjectSuccessRateChartType"
                        [plugins]="ProjectSuccessRateChartPlugins"
                        height="217px">
                    </canvas>
                </div>
                <ul class="dashboard-stat-list">
                    <li>
                        Průměr za rok 2020
                        <span class="pull-right"><b>90</b> <small>%</small></span>
                    </li>
                    <li>
                        Průměr za rok 2019
                        <span class="pull-right"><b>99</b> <small>%</small></span>
                    </li>
                    <li>
                        Průměr za rok 2018
                        <span class="pull-right"><b>96</b> <small>%</small></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #END# ÚSPĚŠNOST PROJEKTŮ -->
</div>

<div class="row clearfix">
    <!-- VYTÍŽENOST PM-->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2>ALOKACE PROJEKTOVÝCH MANAŽERŮ</h2>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="chart-wrapper">
                    <canvas baseChart
                        [datasets]="PMcapacityChartData"
                        [labels]="PMcapacityChartLabels"
                        [options]="PMcapacityChartOptions"
                        [colors]="PMcapacityChartColors"
                        [legend]="PMcapacityChartLegend"
                        [chartType]="PMcapacityChartType"
                        [plugins]="PMcapacityChartPlugins">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# VYTÍŽENOST PM -->
    <!-- ROLE PM -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2>ROZDĚLENÍ ROLÍ V PM POOL III</h2>
                    </div>
                </div>
            </div>
            <div class="body">
                <div>Jak jsou rozdělení projektoví manažeři dle rolí:</div>
                <div class="chart-wrapper">
                    <canvas baseChart
                    [data]="PMrolesChartData"
                    [labels]="PMrolesChartLabels"
                    [chartType]="PMrolesChartType"
                    [options]="PMrolesChartOptions">
                  </canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# ROLE PM -->
</div>
<div class="row clearfix">
    <!-- Seznam projektů -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <h2>SEZNAM PROJEKTŮ PM POOL III</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover dashboard-task-infos">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Projekt</th>
                                <th>Status</th>
                                <th>PM</th>
                                <th>Aktuálně hotovo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>GC00001</td>
                                <td>Rachot</td>
                                <td><span class="label bg-green">Běží</span></td>
                                <td>Martin Nassler</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>GI00002</td>
                                <td>Online Sales</td>
                                <td><span class="label bg-green">Běží</span></td>
                                <td>Václav Mařík</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>GX00003</td>
                                <td>JIRA for mobile</td>
                                <td><span class="label bg-red">Zastaven</span></td>
                                <td>Vladimír Kaplan</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-light-blue" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>GX322144</td>
                                <td>S3 decommission</td>
                                <td><span class="label bg-orange">Čeká na schválení</span></td>
                                <td>Zdeněk Rybnikář</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>GI235645</td>
                                <td>DI4R</td>
                                <td>
                                    <span class="label bg-yellow">Varování</span>
                                </td>
                                <td>Radka Kaletová</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-red" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>GI45874</td>
                                <td>CEB stabilizace</td>
                                <td>
                                    <span class="label bg-red">Problém</span>
                                </td>
                                <td>Tomáš Stegura</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-red" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width: 27%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>GC98745</td>
                                <td>Flexible office</td>
                                <td>
                                    <span class="label bg-grey">Hotovo</span>
                                </td>
                                <td>Monika Buřičová</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   <!-- #END# Seznam projektů -->
</div>
